{% extends 'base.html' %}

{% block title %}Statistique{% endblock %}

{% block content %}
{% include './navbar.html' %}
   

<div class="container">

    <div class="row fadeIn animated">

<!----------------------------------- Page-Statistiques ------------------------------------------>
   <div  class="page_1_statistic">
    <div style="margin-top: 30px; margin-left: 10%; margin-right: 2%; margin-bottom: 30px;">
     <form>
        
        <center>
            <h2><i class="fa fa-bar-chart"></i> Statistiques</h2>
            <p>
            
          <br/>
          </p>
<label style="width: 90%">Nombre de locataires : <span style="float: right;">Valeurs</span> </label>
<br/>
<label style="width: 90%">Nombre de locateurs : <span style="float: right;">Valeurs</span> </label>
<br/>
<label style="width: 90%">Nombre de chambres : <span style="float: right;">Valeurs</span> </label>
<br/>
<label style="width: 90%">Les réservations : <span style="float: right;">Valeurs</span> </label>
<br/><br/>
<label style="width: 90%">En attente :<span style="float: right;">Valeurs</span> </label> 
<br/>
<label style="width: 90%">Actives: <span style="float: right;">Valeurs</span> </label>
<br/>
<label style="width: 90%">Empirées: <span style="float: right;">Valeurs</span> </label>
<br/><br/>
<label style="width: 90%">Bénéfice total : <span style="float: right;">Valeurs</span> </label>
<br/>
<label style="width: 90%">Total des sommes reçues : <span style="float: right;">Valeurs</span> </label>
<br/>
     
        </center>
    </form>
     <br/>
    </div>
<!-----------------------------------/ Page-Statistiques ------------------------------------------>

<br>	
        </div>

</div> 

</div>


<footer class="main-footer">

<div class="footer-bottom">

    <div class="container text-center" style="height: 60px; padding: 20px; font-weight: bold;">
        @ Copyrights 2021 UQAR
    </div>
</div>

</footer>


{% endblock %}